- classes = cycle('odd', 'even')
- in_edit_mode ||= []
- team ||= @team
- id = team.new_record? ? 'new' : team.id

- if in_edit_mode.include?(id) || team.new_record?
  %tr.team_edit#Team{id: id, class: classes}
    = render partial: 'edit', locals:{team:team, remote:true, stand_alone:false}

- else
  %tr.team_inline#Team{id: id, class: classes}
    = render partial: 'show', locals:{team:team, remote:true, stand_alone:false}
