.eight.columns.centered#Main
  %table.twelve#ServiceList
    %thead
      %tr
        =render partial: 'shared/sortable', locals: {name: 'Name', field: 'name', classes: 'seven'}
        =render partial: 'shared/sortable', locals: {name: 'Abbreviation', field: 'abbreviation', classes: 'five'}

    %tbody
      - if @services.empty?
        %tr.service_inline#Service_new
          %td{colspan: 2}
            %h3.subheader= t(:none_html, scope: [:controllers, :services])
      - else
        = render @services
