- classes = cycle('odd', 'even')
- in_edit_mode ||= []
- service ||= @service
- id = service.new_record? ? 'new' : service.id

- if in_edit_mode.include?(id) || service.new_record?
  %tr.service_edit#Service{id: id, class: classes}
    = render partial: 'edit', locals:{service:service, remote:true, stand_alone:false}

- else
  %tr.service_inline#Service{id: id, class: classes}
    = render partial: 'show', locals:{service:service, remote:true, stand_alone:false}
