- editable = true unless defined?(editable)
- task ||= @task

- if editable
  .points<
    .overlay{class: points_to_class(task.points)}<
      - Task::POINTS_MAXIMUM.downto(Task::POINTS_MINIMUM+1) do |points|
        %i.small.glyphicon{class: 'star', data: {points:points}}
    - Task::POINTS_MAXIMUM.downto(Task::POINTS_MINIMUM+1) do |points|
      %span.small.glyphicon{data: {points:points}}<
        %i.small.glyphicon{class: 'dislikes'}
- else
  .points<
    - Task::POINTS_MAXIMUM.downto(Task::POINTS_MINIMUM+1) do |points|
      %i.small.glyphicon{class: points > task.points ? 'dislikes' : 'star', data: {points:points}}

