- possible_points = Task::POINTS[1,Task::POINTS.length]
- editable = true if editable.nil?
- task ||= @task

- if editable
  .points.editable><
    .overlay{class: points_to_class(task.points)}><
      - possible_points.each do |points|
        %span.badge.badge-inverse{data: {points: points}}><= points
    - possible_points.each do |points|
      %span.badge{data: {points: points}}><= points
- else
  .points><
    - possible_points.each do |points|
      %span.badge{class: task.points >= points ? 'badge-inverse' : nil, data: {points: points}}><= points
