%li= link_to t(:print_cards, scope: [:controllers, :tasks]), url_for(controller: :tasks, action: :print, format: :cards)
%li= link_to t(:print_list, scope: [:controllers, :tasks]), url_for(controller: :tasks, action: :print, format: :list)
