- task ||= @task
- description = task.description.present? ? task.description : t(:no_details_html, scope: [:activerecord, :labels, :task])

= render partial: 'task', locals: {expanded: [task.id], stand_alone: true}
.row-fluid
  .span6.offset6.text-right
    = link_to 'Edit', edit_task_path(task), class: 'btn btn-small btn-flat btn-primary'
    \|
    = link_to 'Delete', task, method: :delete, data: { confirm: "WARNING: Are you sure you want to delete this task?" }, class: 'btn btn-small btn-flat btn-danger'
    \|
    = link_to 'Back', tasks_path, class: 'btn btn-small btn-link'
