%ul.dropdown
  %li= link_to t(:new_html, scope: [:filter]), '#', data: {filter_toggle: true}
  %li= link_to t(:edit_html, scope: [:filter]), '#', data: {filter_toggle: true}
  %li= link_to t(:clear_html, scope: [:filter]), url_for(controller: controller.controller_name, action: :reset), remote: true
