%ul.dropdown-menu
  %li
    = awesome_link_to 'Account', edit_user_path(current_user), glyph: 'awesome-user'
  %li.divider
  %li
    = awesome_link_to 'Logout', destroy_user_session_path, method: :delete, glyph: 'awesome-signout'
