- current_area = controller.controller_name.to_sym

%ul.one.columns.side-nav
  - [:features, :stories].each do |area|
    - if area == current_area && controller.action_name == 'index'
      %li.active= current_area.to_s.titleize
    - else
      %li= link_to area.to_s.titleize, url_for(controller: area, action: :index)
