- current_area = controller.controller_name.to_sym

.one.column
  %ul.side-nav
    %li= glyph_link_to url_for(controller: controller.controller_name, action: :new), class: 'has-tip', glyph: 'circle_plus', title: I18n.t(:new, scope: [:controllers, current_area])
/ 
/ 
/ %li.divider
/ %li
/   = content_tag 'a', 'Filter', class:'filter-toggle', data: { filter_toggle: true}
