- current_area = controller.controller_name.to_sym

%ul.one.column.side-nav
  - [:features, :stories, :divider, :services, :projects].each do |area|
    - if area == :divider
      %li.divider
    - elsif area == current_area && controller.action_name == 'index'
      %li.active
        = content_tag 'span', ''
        = current_area.to_s.titleize
    - else
      %li= link_to area.to_s.titleize, url_for(controller: area, action: :index)
