- current_area = controller.controller_name
- current_name = current_area.titleize
- current_area = current_area.to_sym

.tweleve.columns.centered
  .fixed.contain-to-grid
    %nav.top-bar
      %ul
        %li.name
          %h1 Tracker
        %li.toggle-topbar Tracker
        - if notice.present?
          %li
            #notice= notice
      %section
        %ul.right
          %li.divider
          %li
            = link_to "Add #{current_name.singularize}", url_for(controller: current_area, action: :new)
          %li.divider
          %li
            = content_tag 'a', 'Filter', class:'filter-toggle', data: { filter_toggle: true}
