.twelve.columns.centered<
  .fixed.contain-to-grid<
    %nav.top-bar<
      %ul.two.columns
        %li.name
          %h1<
            %i.white.glyphicon.show_thumbnails_with_lines
            = 'Tracker'
        %li.toggle-topbar Tracker
      %ul.six.columns
        %li
          #notice= notice
      .four.columns
        .right
          = render 'shared/area_menu'
