
#Main
  = render 'layouts/messages'
  = render 'shared/overview'

  %ol.unstyled.project-list#ProjectList
    - if @projects.empty?
      %li.project#Project_new{data: {empty: 1}}
        %h3.subheader= t(:none_html, scope: [:controllers, :projects])
    - else
      = render partial: 'project', collection: @projects, locals: {edited: @edited, expanded: @expanded}
