- edited ||= []
- expanded ||= []
- project ||= @project
- id = project.new_record? ? 'new' : project.id

- if edited.include?(id)
  %li.project.edit-mode.expanded#Project{id: id, data: {expanded: 1}}
    = render partial: 'edit', locals:{project:project, remote:true, stand_alone:false}

- else
  %li.project#Project{id: id}
    = render partial: 'show', locals:{project:project, remote:true, stand_alone:false}
