.nine.columns.centered#Main
  %table.twelve#ProjectList
    %thead
      %tr
        = render partial: 'shared/sortable', locals: {name: 'Name', field: 'name', classes: 'two'}
        %th.seven= 'Services'

    %tbody
      - if @projects.empty?
        %tr.project_inline#Project_new
          %td{colspan: 2}
            %h3.subheader= t(:none_html, scope: [:controllers, :projects])
      - else
        = render @projects
