.six.columns.centered#Main
  %table.twelve
    %thead
      %tr
        %th.four= render partial: 'shared/sortable', locals: {name: 'Name', field: 'name'}
        %th.one.end

    %tbody
      = render @projects
