.nine.columns.centered#Main
  %table.twelve
    %thead
      %tr
        = render partial: 'shared/sortable', locals: {name: 'Name', field: 'name', classes: 'two'}
        %th.seven= 'Services'

    %tbody
      = render @projects
