- classes = cycle('odd', 'even')
- in_edit_mode ||= []
- story ||= @story
- id = story.new_record? ? 'new' : story.id

- if in_edit_mode.include?(id) || story.new_record?
  %tr.story_edit#Story{id: id, class: classes}
    = render partial: 'edit', locals:{story:story, remote:true, stand_alone:false}

- else
  %tr.story_inline#Story{id: id, class: classes}
    = render partial: 'show', locals:{story:story, remote:true, stand_alone:false}
