- edited ||= []
- expanded ||= []
- story ||= @story
- id = story.new_record? ? 'new' : story.id

- if edited.include?(id) || story.new_record?
  %tr.story.edit-mode.expanded#Story{id: id, data: {expanded: 1}}
    = render partial: 'edit', locals:{story:story, remote:true, stand_alone:false}

- else
  %tr.story.compact#Story{id: id}
    = render partial: 'show', locals:{story:story, remote:true, stand_alone:false}
