td {
  position:relative;
}

.cyan {
 color:$cyan;
}
.gray {
  color:$gray;
}
.white {
  color:#fff;
}

.small {
  font-size:$small;
}
.normal {
  font-size:$normal;
}
.large {
  font-size:$large;
}

.thin {
  font-weight:$thin;
}
.medium {
  font-weight:$medium;
}
.thick {
  font-weight:$thick;
}
.thickest {
  font-weight:$thickest;
}

.text_left {
  text-align:left;
}
.text_right {
  text-align:right;
}

.even {
}
.odd {
  background-color:#eee;
}

.actions {
  padding:15px 0 0;
}

.disabled {
  cursor:auto;
  opacity: 0.4;
}

.command_block {
  display:inline-block;
  line-height:10px;
  td & {
    position:absolute;
    top:10px;
    right:0;
  }
}

.on_hover {
  visibility:hidden;
  li:hover &, tr:hover & {
    visibility:visible;
  }
}


.filter_container {
  display:none;
  &.visible {
    display:block;
  }
  form {
    border:1px solid #ccc;
    border-top:none;
    padding:8px;
    select {
      height:145px;
    }
  }
}

.filter form {
  margin:0 0 10px;
  padding:18px 5px 0;
}

.sortable span {
  color:#222;
  float:right;
}

.projects {
  display:inline-block;
  span, a {
    display:inline-block;
    font-size:$small;
    margin:2px 2px;
    width:65px;
  }
  span.secondary, a.secondary {
    color:#999;
  }
}

.status {
  display:inline-block;
  font-size:85%;
  padding:2px;
  width:100px;
}

.task_edit {
  li:hover {
    background-color:inherit;
  }
}

.task_inline {
  font-size:$small;
  
  .row {
    .one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten, .eleven {
      margin:0 8px;
    }
    .columns.last {
      padding-right:4px;
    }
  }
}

.task_list {
  border:1px solid #ccc;
  border-top:none;
  margin-bottom:3em;
  padding:0;
  li {
    list-style-type:none;
    margin:0;
    padding:4px 8px;
  }
  li:hover {
    outline:1px solid #999;
  }
  li.task_inline:hover {
    background-color:#ffc;
  }
}

.title {
  color: $cyan;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size:$large;
  font-weight:$thin;
  margin:2px 0;
}
