.cyan {
 color:$cyan;
}
.gray {
  color:$gray;
}
.white {
  color:#fff;
}

.small {
  font-size:$small;
}
.normal {
  font-size:$normal;
}
.large {
  font-size:$large;
}

.thin {
  font-weight:$thin;
}
.medium {
  font-weight:$medium;
}
.thick {
  font-weight:$thick;
}
.thickest {
  font-weight:$thickest;
}

.text_left {
  text-align:left;
}
.text_right {
  text-align:right;
}

.even {
  background-color:$white;
}
.odd {
  background-color:$lightGray;
}

.disabled {
  cursor:auto;
  opacity: 0.4;
}

.actions {
  padding:10px 6px 0 0 !important;
}

.command_block {
  display:inline-block;
  line-height:10px;
  tr & {
    position:absolute;
  }
  tr.project_inline & {
    top:4px;
    right:8px;
  }
  tr.service_inline & {
    top:10px;
    right:8px;
  }
  tr.story_inline & {
    top:10px;
    right:2px;
  }
  tr.team_inline & {
    top:10px;
    right:2px;
  }
}

.contact-us {
  font-size:80%;
  margin:4px 4px;
  position:absolute;
  top:0;
  right:0;
  text-align:right;
}
.printed-contact-us {
  display:none;
}

.description {
  outline:1px solid red;
  margin:0 0 0 15px;
  padding:4px;
  min-height:100px;
}

.on_hover {
  visibility:hidden;
  li:hover &, tr:hover & {
    visibility:visible;
  }
}

.filter_container {
  display:none;
  &.visible {
    display:block;
  }
  .row.section {
    border:none;
    margin-bottom:12px;
    &.hidden {
      display:none;
    }
  }
  form {
    border:1px solid #ccc;
    border-top:none;
    padding:8px;
    .multi-select select {
      height:145px;
    }
  }
}

.filter form {
  margin:0 0 10px;
  padding:18px 5px 0;
}

#FilterMenu li.active {
  background-color:$cyan;
  a {
    background-color:$cyan;
  }
}

.inline_label {
  display:inline-block;
  line-height:$small;
}

.sortable span {
  color:$cyan;
  float:right;
}

.printed-points {
  display:none;
}
.points {
  display:inline-block;
  position:relative;
  .overlay {
    cursor:pointer;
    position:absolute;
    left:0;
    overflow:hidden;
    white-space:nowrap;
    z-index:auto;
    &.zero-points {
      width:0;
    }
    &.one-point {
      width:$glyphWidth;
    }
    &.two-points {
      width:2*$glyphWidth;
    }
    &.three-points {
      width:3*$glyphWidth;
    }
    &.four-points {
      width:4*$glyphWidth;
    }
    &.five-points {
      width:5*$glyphWidth;
    }
  }
  .task_edit &, .task_inline & {
    cursor:pointer;
  }
}

.projects, .teams {
  display:inline-block;
  label {
    display:inline-block;
    line-height:$small;
  }
  span, a {
    display:inline-block;
    font-size:$small;
    margin:2px 2px;
    width:65px;
  }
  span.secondary, a.secondary {
    color:#999;
  }
  .row {
    line-height:$small;
    height:$small;
  }
}

.release-date {
  font-size:95%;
  position:relative;
  text-align:right;
  top:6px;
}

.row.section {
  margin-bottom:8px;
}

.services {
  padding-left:6px;
  span {
    margin:2px 2px;
  }
  .row {
    line-height:$small;
    height:$small;
  }
  .status {
    width:122px;
  }
}

.service, .status {
  display:inline-block;
  font-size:$small;
  padding:2px;
}
.service {
  width:122px;
}
.status {
  position:relative;
  top:1px;
  width:100px;
}

ol.task_list {
  border:1px solid #ccc;
  border-top:none;
  line-height:1em;
  margin-left:0;
  padding:0;
  .task_edit {
    .points {
      position:relative;
      top:4px;
    }
    li:hover {
      background-color:inherit;
    }
    textarea {
      height:100px;
    }
  }
  li {
    list-style-type:none;
    margin:0;
    padding:6px 8px;
    &:hover {
      outline:1px solid #999;
    }
    &.hidden {
      display:none;
    }
    &.visible {
      display:block;
    }
    &.task_inline {
      font-size:$small;
      .description {
        display:none;
      }
    }
    &.task_inline:hover {
      background-color:#ffc;
    }
    &.iteration_marker {
      background-color:#b9b9b9;
      border:1px solid $dark;
      color:$dark;
      padding:4px 8px;
      position:relative;
      &:hover {
        outline:none;
      }
      .iteration_toggle {
        position:absolute;
        top:0;
        right:0;
        height:100%;
        padding:3px $glyphWidth/2 0;
        width:2*$glyphWidth;
        z-index:1;
        div {
          font-size:120%;
        }
      }
    }
    h3 {
      font-size:125%;
      margin:-2px 0;
    }
  }
}

.task-rank {
  display:inline-block;
  font-size:85%;
  margin-left:15px;
}

.task_sort {
  table {
    margin:0;
  }
}

.title {
  color: $cyan;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size:$large;
  font-weight:$thin;
  margin:2px 0;
}

select {
  margin-bottom:12px;
}

table tbody tr {
  &:hover {
    outline:1px solid #999;
  }
  &.project_inline:hover, &.story_inline:hover {
    background-color:#ffc;
  }
}
table tbody tr td {
  position:relative;
}
table thead tr th {
  background-color:#444;
  color:$white;
  &.sorted {
    background-color:$cyan;
    span, a {
      color:$white;
    }
  }
}

body {
  margin-bottom:2em;
}
