.cyan {
 color:$cyan;
}
.gray {
  color:$gray;
}
.white {
  color:#fff;
}

.small {
  font-size:$small;
}
.normal {
  font-size:$normal;
}
.large {
  font-size:$large;
}

.thin {
  font-weight:$thin;
}
.medium {
  font-weight:$medium;
}
.thick {
  font-weight:$thick;
}
.thickest {
  font-weight:$thickest;
}

.text_left {
  text-align:left;
}
.text_right {
  text-align:right;
}

.even {
}
.odd {
  background-color:#eee;
}

.disabled {
  cursor:auto;
  opacity: 0.4;
}

.actions {
  padding:10px 6px 0 0 !important;
}

.command_block {
  display:inline-block;
  line-height:10px;
  td & {
    position:absolute;
    top:0;
    right:5px;
  }
}

.description {
  margin:0 0 0 15px;
  padding:4px;
  min-height:100px;
}

.on_hover {
  visibility:hidden;
  li:hover &, tr:hover & {
    visibility:visible;
  }
}


.filter_container {
  display:none;
  &.visible {
    display:block;
  }
  .row.section {
    border:none;
    margin-bottom:12px;
  }
  form {
    border:1px solid #ccc;
    border-top:none;
    padding:8px;
    .multi-select select {
      height:145px;
    }
  }
}

.filter form {
  margin:0 0 10px;
  padding:18px 5px 0;
}

#FilterMenu li.active {
  background-color:$cyan;
  a {
    background-color:$cyan;
  }
}

.sortable span {
  color:$cyan;
  float:right;
}

.points {
  display:inline-block;
  position:relative;
  .overlay {
    cursor:pointer;
    position:absolute;
    left:0;
    overflow:hidden;
    white-space:nowrap;
    z-index:auto;
    &.zero-points {
      width:0;
    }
    &.one-point {
      width:$glyphWidth;
    }
    &.two-points {
      width:2*$glyphWidth;
    }
    &.three-points {
      width:3*$glyphWidth;
    }
    &.four-points {
      width:4*$glyphWidth;
    }
    &.five-points {
      width:5*$glyphWidth;
    }
  }
  .task_edit & {
    cursor:pointer;
  }
}

.projects {
  display:inline-block;
  span, a {
    display:inline-block;
    font-size:$small;
    margin:2px 2px;
    width:65px;
  }
  span.secondary, a.secondary {
    color:#999;
  }
}

.row.section {
  margin-bottom:8px;
}

.services {
  label {
    display:inline-block;
  }
  span {
    margin:2px 2px;
  }
}

.service, .status {
  display:inline-block;
  font-size:85%;
  padding:2px;
  width:100px;
}

.task_edit {
  .points {
    position:relative;
    top:4px;
  }
  li:hover {
    background-color:inherit;
  }
  textarea {
    height:100px;
  }
}

.task_inline {
  font-size:$small;
  .description {
    display:none;
  }
}

.task_list {
  border:1px solid #ccc;
  border-top:none;
  margin-bottom:3em;
  padding:0;
  li {
    list-style-type:none;
    margin:0;
    padding:4px 8px;
  }
  li:hover {
    outline:1px solid #999;
  }
  li.task_inline:hover {
    background-color:#ffc;
  }
}

.title {
  color: $cyan;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size:$large;
  font-weight:$thin;
  margin:2px 0;
}

table tbody tr {
  &:hover {
    outline:1px solid #999;
  }
  &.project_inline:hover, &.story_inline:hover {
    background-color:#ffc;
  }
}
table tbody tr td {
  position:relative;
}
table thead tr th {
  background-color:#444;
  color:$white;
  &.sorted {
    background-color:$cyan;
    span, a {
      color:$white;
    }
  }
}
