.glyphbutton {
  position:relative;
  i:before {
    position:absolute;
    top:0;
    left:0;
  }
  input {
    cursor:pointer;
    background:transparent;
    border:none;
    padding:0;
    position:relative;
    text-indent:-10000px;
    z-index:1;
    height:$glyphHeight;
    width:$glyphWidth;
  }
}

.glyphicon {
  height:$glyphHeight;
  width:$glyphWidth;
  input {
    height:$glyphHeight;
    width:$glyphWidth;
  }
}

.glyphlink {
  color:inherit;
  display:inline-block;
  padding:0;
  position:relative;
  height:$glyphHeight;
  width:$glyphWidth;
  &:hover {
    color:inherit;
  }
  &.disabled {
    display:inline-block;
    height:30px;
    width:43px;
  }
  .top-bar & {
    width:auto;
  }
  .top-bar &.disabled {
    width:30px;
    i {
      position:relative;
      left:5px;
    }
  }
}
