.glyphbutton {
  position:relative;
}
.glyphbutton i:before {
  position:absolute;
  top:0;
  left:0;
};
.glyphbutton input {
  cursor:pointer;
  background:transparent;
  border:none;
  padding:0;
  position:relative;
  text-indent:-10000px;
  z-index:1;
}
.glyphbutton input {
  height:16px;
  width:16px;
}

.glyphicon input {
  height:16px;
  width:16px;
}

.glyphlink {
  color:inherit;
  display:inline-block;
  padding:0;
  position:relative;
  height:16px;
  width:16px;
  &:hover {
    color:inherit;
  }
  &.disabled {
    display:inline-block;
    height:30px;
    width:43px;
  }
  .top-bar & {
    width:auto;
  }
  .top-bar &.disabled {
    width:30px;
    i {
      position:relative;
      left:5px;
    }
  }
}
