/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require foundation_and_overrides
 *= require glyphicons
 *= require_self
 */

.commands {
  display:inline-block;
  visibility:hidden;
}
tr:hover .commands {
  visibility:visible;
};

.actions {
  border-top:1px solid #ddd;
  margin:10px 0 0;
  padding:5px 0 0;
}

.disabled {
  opacity: 0.4;
}

.glyph_commands {
  display:inline-block;
  margin:0 10px 0 15px;
}

.services label {
  display:inline-block;
}

.sortable span {
  color:#222;
  float:right;
}

.projects {
  display:inline-block;
}
.projects span, .projects a {
	display:inline-block;
	font-size:80%;
	margin:0 2px;
	width:65px;
}
.projects span.secondary, .projects a.secondary {
	color:#999;
}

.status {
  display:inline-block;
  font-size:85%;
  padding:2px;
  width:85px;
}

/*
 * Glyphicons Overrides
 */
.glyphicons.cyan i:before {
  color: #2ba6cb;
}

.glyphicons.small-iconic {
  line-height:14px;
  padding:0;
  height:12px;
  width:14px;
}

.top-bar ul > li a.glyphicons.small-iconic {
  display:inline-block;
  line-height:14px;
  margin:7px 6px 0 0;
  padding:0;
  height:12px;
  width:14px;
}

.top-bar ul > li a.glyphicons.small-iconic i:before{
  color:#fff;
}

.glyphicons.small-iconic i:before {
  font-size:14px;
};

.glyphicons.iconic {
  line-height:24px;
  padding:0;
  height:25px;
  width:25px;
}

.glyphicons.iconic input {
  background:transparent;
  border:none;
  padding:0;
  position:relative;
  text-indent:-10000px;
  height:25px;
  width:25px;
  z-index:1;
}

h1.glyphicons i:before {
  top:6px;
  left:6px;
};

/*
 * Foundation Overrides
 */
/*
.active {
  position:relative;
}
.active span {
  background-color:#2ba6cb;
  position:absolute;
  left:-6px;
  width:4px;
  height:95%;
}
*/

.top-bar ul > li:not(.name).active {
  background: #2ba6cb;
  border-color: #2284a1;
}

.top-bar ul > li:not(.name).active a {
  color:#fff;
  background: #2ba6cb;
  border-color: #2284a1;
}

.fixed {
  height:30px;
}

.has-tip {
  border:none;
}
.has-tip.label {
	color:#fff;
}
.has-tip:hover {
  border:none;
};

.name h1 {
  color:#fff;
  font-size:26px;
  opacity:0.85;
  padding:4px 0 0 38px;
  position:relative;
  top:-4px;
}

.reveal-modal {
  padding:15px 15px 0;
}
.reveal-modal form {
  margin:0 0;
}

ul.side-nav {
  margin-left:-20px;
  position:fixed;
  top:30px;
}

form.custom div.custom.dropdown {
  display:inline-block;
}

/*
 * Standard Rails
 */
 $errorColor:#b00;

.button_to {
  display:inline-block;
  margin:0;
  padding:0;
}
#notice {
  color:white;
}

.field_with_errors {
  label {
    color:$errorColor;
  }
  input {
    border:2px solid $errorColor;
  }
}

#error_explanation {
  border:2px solid $errorColor;
  color:$errorColor;
  margin:-10px 0 15px;
  padding:0;
  width:450px;
  h2 {
    background-color:#c00;
    color:#fff;
    text-align: left;
    font-weight: bold;
    margin:0 0 5px;
    padding: 5px 5px 5px 10px;
    font-size: 85%;
  }
  ul {
    margin:0 10px 5px 22px;
  }
  ul li {
    font-size:90%;
    list-style:disc;
  }
}
