/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require foundation_and_overrides
 *= require_self
 */

.actions {
  border-top:1px solid #ddd;
  margin:10px 0 0;
  padding:5px 0 0;
}

.disabled {
  opacity: 0.4;
}

.filter {
  background-color:#fff;
  border:1px solid #ddd;
  border-top:none;
  display:none;
  margin:0;
  padding:0;
}
.filter-toggle {
  cursor:pointer;
}

.services label {
  display:inline-block;
}

.sortable .sprite {
  float:right;
}

.sprite {
  background-image:url('/assets/icon-sprite.png');
  background-color:transparent;
  border:none;
  display:inline-block;
  margin:0;
  padding:0;
  text-indent:-10000px;
  width:19px;
  height:19px;
}
.advance {
  background-position:-76px 0;
}
.ascending {
  background-position:-38px -38px;
}
.complete {
  background-position:-76px -76px;
}
.descending {
  background-position:0 -38px;
}
.destroy {
  background-position:-19px 0;
}
.edit {
  background-position:-152px -19px;
}
.filter {
  background-position:-133px 0;
}
.refresh {
  background-position:-76px 0;
}
.show {
  background-position:-38px 0;
}

.projects {
  display:inline-block;
	width:210px;
}
.projects span, .projects a {
	display:inline-block;
	font-size:80%;
	margin:0 2px;
	width:65px;
}
.projects span.secondary, .projects a.secondary {
	color:#999;
}

.status {
  display:inline-block;
  font-size:85%;
  padding:2px;
  width:85px;
}

.height-medium {
  height:130px;
}

.width-narrow {
  width:50px;
}
.width-medium {
  width:80px;
}
.width-large {
  width:125px;
}
.width-xlarge {
  width:200px;
}

/*
 * Foundation Overrides
 */
.active {
  position:relative;
}
.active span {
  background-color:#2ba6cb;
  position:absolute;
  left:-6px;
  width:4px;
  height:95%;
}

.has-tip.label {
	color:#fff;
}
.has-tip:hover {
  border:none;
};

.name h1 {
  color:#fff;
  font-size:32px;
}

.reveal-modal {
  padding:15px 15px 0;
}
.reveal-modal form {
  margin:0 0;
}

form.custom div.custom.dropdown {
  display:inline-block;
}

/*
 * Standard Rails
 */
 $errorColor:#b00;

.button_to {
  display:inline-block;
  margin:0;
  padding:0;
}
#notice {
  color:white;
}

.field_with_errors {
  label {
    color:$errorColor;
  }
  input {
    border:2px solid $errorColor;
  }
}

#error_explanation {
  border:2px solid $errorColor;
  color:$errorColor;
  margin:-10px 0 15px;
  padding:0;
  width:450px;
  h2 {
    background-color:#c00;
    color:#fff;
    text-align: left;
    font-weight: bold;
    margin:0 0 5px;
    padding: 5px 5px 5px 10px;
    font-size: 85%;
  }
  ul {
    margin:0 10px 5px 22px;
  }
  ul li {
    font-size:90%;
    list-style:disc;
  }
}
