/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require foundation_base
 *= require glyphicons
 *= require_self
 */

$red:#c00;
$cyan:#2ba6cb;
$gray:#d9d9d9;
$lightGray:#f2f2f2;
$white:#fff;

$errorColor:#b00;

$small:11px;
$normal:14px;
$large:16px;
$extra-large:26px;

$thin:200;
$medium:400;
$thick:700;
$thickest:900;

$glyphHeight:16px;
$glyphWidth:16px;

$taskPoints:5;

@import 'core';
@import 'glyphicons_overrides';
@import 'foundation_overrides';

.button_to {
  display:inline-block;
  margin:0;
  padding:0;
}
#notice {
  color:$white;
}

.field_with_errors {
  label {
    color:$errorColor;
  }
  input {
    border:2px solid $errorColor;
  }
}

#error_explanation {
  border:2px solid $errorColor;
  color:$errorColor;
  margin:0 0 10px;
  padding:0;
  h2 {
    background-color:$red;
    color:$white;
    text-align: left;
    font-weight: bold;
    margin:0;
    padding:5px 5px 5px 10px;
    font-size:85%;
  }
  ul {
    background-color:$white;
    margin:0;
    padding:4px;
    li:before {
      content:'-';
      display:inline-block;
      font-weight:bold;
      padding:0 2px 0 0;
      width:8px;
    }
    li {
      background-color:$white;
      border:none;
      font-size:90%;
      list-style:none;
      padding:0;
    }
    li:hover {
      outline:none;
    }
  }
}
