$cyan:#2ba6cb;
$gray:#d9d9d9;

$thin:200;
$medium:400;
$thick:700;
$thickest:900;

.cyan {
 color:$cyan;
}
.gray {
  color:$gray;
}
.white {
  color:#fff;
}

.thin {
  font-weight:$thin;
}
.medium {
  font-weight:$medium;
}
.thick {
  font-weight:$thick;
}
.thickest {
  font-weight:$thickest;
}

.text-left {
  text-align:left;
}
.text-right {
  text-align:right;
}

.actions {
  padding:15px 0 0;
}

.disabled {
  opacity: 0.4;
}

.command_block {
  display:inline-block;
  margin:0 10px 0 15px;
}

.filter_container {
  display:none;
  border:1px solid #ccc;
  border-top:none;
}

.filter form {
  margin:0 0 10px;
  padding:18px 5px 0;
}

.item-commands {
  display:inline-block;
  visibility:hidden;
}

li:hover .item-commands {
  visibility:visible;
};

.sortable span {
  color:#222;
  float:right;
}

.projects {
  display:inline-block;
}
.projects span, .projects a {
	display:inline-block;
	font-size:80%;
	margin:0 2px;
	width:65px;
}
.projects span.secondary, .projects a.secondary {
	color:#999;
}

.status {
  display:inline-block;
  font-size:85%;
  padding:2px;
  width:100px;
}

.task_edit.odd {
  background-color:#eee;
}
.task_edit {
  li:hover {
    background-color:inherit;
  }
}

.task_list {
  border:1px solid #ccc;
  border-top:none;
  margin-bottom:3em;
  padding:0;
  li {
    list-style-type:none;
    margin:0;
    padding:4px 8px;
  }
  li:hover {
    background-color:#ffc;
    outline:1px solid #999;
  }
}

.task_inline.odd {
  background-color:#eee;
}
.task_inline {
  font-size:12px;
  
  h1 {
    color: $cyan;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size:16px;
    font-weight:$thin;
    margin:2px 0;
  }
  .row {
    .one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten, .eleven {
      margin:0 8px;
    }
    .columns.last {
      padding-right:4px;
    }
  }
}
