/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import 'glyphicons';
@import 'font-awesome';
@import "bootstrap";
@import 'variables';

@page {
  size:8.5in 11in;
  margin:2cm;
}

.iteration-open {
  border-top:2px solid $grayDark;
  font-weight:bold;
  padding:0 3px 5px;
}

.iteration-close {
  page-break-after:always;
}

.row {
  page-break-inside:avoid;
  &.tasks {
    margin-bottom:15px;
  }
}

.task {
  border:3px solid black;
  height:225px;
  margin-bottom:15px;
  padding:8px;
  page-break-inside:avoid;
  position:relative;
  .description {
    max-height:115px;
    text-overflow:ellipsis;
    overflow:hidden;
  }
  .footer {
    border-top:1px solid black;
    padding-top:4px;
    font-weight:bold;
    position:absolute;
    bottom:0;
    left:4px;
    right:4px;
  }
  .points {
    .badge-inverse {
      border:1px solid black;
    }
  }
  .project {
    font-weight:bold;
  }
  .release-date {
    text-align:right;
  }
  .title {
    border-bottom:1px solid black;
    font-weight:bold;
    padding-bottom:8px;
    margin-bottom:6px;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
  }
}
