/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import 'glyphicons';
@import 'font-awesome';
@import 'bootstrap_and_overrides';
@import 'variables';

.task {
  border:2px solid black;
  font-weight:bold;
  height:225px;
  margin-bottom:15px;
  padding:8px;
  position:relative;
  .badge {
    background-color:transparent;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    color:$grayDark;
    padding-left:5px;
    padding-right:5px;
    margin-right:2px;
    &.badge-inverse {
      background-color:transparent;
      border:1px solid $grayDark;
    }
  }
  .contact-us {
    position:absolute;
    bottom:8px;
    left:8px;
    width:75px;
  }
  .release-date {
    position:absolute;
    bottom:8px;
    right:8px;
    text-align:right;
    width:150px;
  }
  .points {
    .badge-inverse {
      border:1px solid black;
    }
  }
  .section {
    border-bottom:1px solid black;
    padding-bottom:8px;
    margin-bottom:6px;
  }
}
