/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import 'glyphicons';
@import 'font-awesome';
@import "bootstrap";
@import 'variables';

@page {
  size:8.5in 11in;
  margin:2cm;
}

body {
  font-size:$baseFontSize * 1.2;
  line-height:$baseLineHeight * 1.2;
}

.text-left {
  text-align:left;
}
.text-right {
  text-align:right;
}

.iteration-open {
  border-top:2px solid $grayDark;
  font-weight:bold;
  padding:0 3px 5px;
  margin-top:10px;
}

.iteration-close {
  page-break-after:always;
}

.row {
  page-break-inside:avoid;
  &.tasks {
    margin-bottom:30px;
  }
}

.row-fluid [class*="span"] {
  min-height:$baseLineHeight * 1.2;
}

.task {
  page-break-inside:avoid;
  position:relative;
  &.cards {
    border:3px solid black;
    height:275px;
    margin-bottom:15px;
    padding:8px;
    .description {
      max-height:165px;
      text-overflow:ellipsis;
      overflow:hidden;
    }
    .footer {
      border-top:1px solid black;
      padding-top:4px;
      font-weight:bold;
      position:absolute;
      bottom:0;
      left:4px;
      right:4px;
    }
    .title {
      border-bottom:1px solid black;
      padding-bottom:8px;
      margin-bottom:5px;
    }
  }
  &.list {
    border-top:1px solid black;
    margin-top:12px;
  }
  .points {
    .badge-inverse {
      border:1px solid black;
    }
  }
  .project {
    font-weight:bold;
    margin-bottom:10px;
  }
  .release-date {
    text-align:right;
  }
  .title {
    font-weight:bold;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
  }
}
