$badgePadding:5px;

$colorError:#b00;
$colorHighlight: rgba(255, 255, 222, 0.7);

$fontThin:200;
$fontMedium:400;
$fontThick:700;
$fontThickest:900;

$glyphHeight:16px;
$glyphWidth:14px;
$glyphWidthSmall:12px;
$glyphPadding:3px;

$pointsWidth:6px;
