- edited ||= []
- expanded ||= []
- feature ||= @feature
- id = feature.new_record? ? 'new' : feature.id

- if edited.include?(id)
  %tr.feature.edit-mode.expanded#Feature{id: id, data: {expanded: 1}}
    = render partial: 'edit', locals:{feature:feature, remote:true, stand_alone:false}

- else
  %tr.feature.compact#Feature{id: id}
    = render partial: 'show', locals:{feature:feature, remote:true, stand_alone:false}
