#Main
  = render 'layouts/messages'
  = render 'shared/overview'

  %table.table.feature-list#FeatureList
    %thead
      %tr
        =render partial: 'shared/sortable', locals: {name: 'Name', field: 'name', classes: 'span5'}
        =render partial: 'shared/sortable', locals: {name: 'Category', field: 'category', classes: 'span5'}

    %tbody
      - if @features.empty?
        %tr.feature#Feature_new
          %td{colspan: 2}
            %h3.subheader= t(:none_html, scope: [:controllers, :features])
      - else
        = render partial: 'feature', collection: @features, locals: {edited: @edited, expanded: @expanded}
