%body
  - unless Rails.is_production?
    .watermark
      - 0.upto(500) do
        %span= Rails.env
  %header.navbar.navbar-fixed-top
    %nav.navbar-inner
      .container
        = render 'layouts/navigation'
  #main
    .container
      .row
        .span8
          = yield
