#messages
  .messages
    - flash.each do |name, msg|
      - next unless [:notice, :alert].include?(name.to_sym)
      - if msg.is_a?(String)
        %div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
          %a.close{"data-dismiss" => "alert"} ×
          = content_tag :div, msg, :id => "flash_#{name}"
